<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="turbo-visit-control" content="reload">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= active_insights_importmap_tags %>
  <script type="module">
    import {Chart, registerables} from "chart.js";

    Chart.register(...registerables);

    import "chartjs-adapter-date-fns";
    import zoomPlugin from "chartjs-plugin-zoom";
    import Chartkick from "chartkick";

    window.Chartkick = Chartkick;
    window.Chart = Chart;

    Chartkick.use(Chart);
    Chart.register(zoomPlugin);

    document.addEventListener('keydown',(event) => {
      Object.keys(Chartkick.charts).forEach((key) => {
        const chart = Chartkick.charts[key].getChartObject()
        if (event.key === 'Escape' || event.key === 'Esc') {
          chart.resetZoom()
        }
      })
    });
  </script>

  <title>Active Insights</title>
  <%= stylesheet_link_tag "active_insights/application" %>
  <style><%= yield :style %></style>
</head>
<body><%= yield %></body>
</html>
