<header>
  <h1>Metrics for <%= display_date(@date.first) %></h1>
  <%= form_with url: active_insights.requests_path, method: :get do |f| %>
    <%= f.date_field :date, max: Date.current, onchange: "this.form.submit()", value: @date.first.to_date %>
    <% f.submit "submit", class: "hidden" %>
  <% end %>
</header>

<div class="pl-30px pt-30px flex flex-row justify-around font-size-30">
  <% @requests.flat_map(&:parsed_durations).tap do |durations| %>
    <%= link_to rpm_path(@date.first.to_date), class: "flex flex-col justify-center items-center no-underline" do %>
      <div><%= per_minute(durations.size, (@date.last - @date.first).seconds) %></div>
      <b>RPM</b>
    <% end %>

    <%= link_to p_values_path(@date.first.to_date), class: "flex flex-col justify-center items-center no-underline" do %>
      <div><%= p50(durations) %> ms</div>
      <b>p50</b>
    <% end %>

    <%= link_to p_values_path(@date.first.to_date), class: "flex flex-col justify-center items-center no-underline" do %>
      <div><%= p95(durations) %> ms</div>
      <b>p95</b>
    <% end %>

    <%= link_to p_values_path(@date.first.to_date), class: "flex flex-col justify-center items-center no-underline" do %>
      <div><%= p99(durations) %> ms</div>
      <b>p99</b>
    <% end %>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>Controller</th>
      <th>RPM</th>
      <th>p50</th>
      <th>p95</th>
      <th>p99</th>
    </tr>
  </thead>
  <tbody>
    <% @requests.each do |model| %>
      <tr>
        <td><%= link_to model.formatted_controller, controller_p_values_path(@date.first.to_date, model.formatted_controller) %></td>
        <td><%= per_minute(model.parsed_durations.size, (@date.last - @date.first).seconds) %></td>
        <td><%= model.p50 %> ms</td>
        <td><%= model.p95 %> ms</td>
        <td><%= model.p99 %> ms</td>
      </tr>
    <% end %>
  </tbody>
</table>
